header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #fff;
}
body{
    background: #F5FAFF;
    min-height: 100vh;
}
.container a{
    color: #344359;
    font-weight: bold;
}

.search{
    border-radius: 0;
    position: relative;
    border: 0;
    width: 100%;
    max-width: 80px;
}
.icon{
    width: 60px;
}
.search::placeholder{
    font-size: .9rem;
    color: #829494;
}
.loupe{
    width: 100%;
    max-width: 15px;
}
.new-folder{
    color: #3E5070;
    font-size: .9rem;
    position: relative;
    display: inline-block;
    font-weight: bold;
}
.carpeta{
    position: absolute;
    text-align: left;
    background-color: #F1F2F7;
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
    right: 137px;
    top: 133%;
}
.carpeta_2{
    position: absolute;
    text-align: left;
    background-color: #F1F2F7;
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
    right: 0px;
    top: 133%;
}
.custom-file-label{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #CACBCE;
    border-radius: 0;
}
.carpeta label, .carpeta_2 label{
    display: block;
    color: #40516F;
    font-weight: bold;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "";
}
.carpeta input, .carpeta select, .carpeta_2 input, .carpeta_2 select{
    display: block;
    background: transparent;
    width: 100%;
    max-width: 200px;
    border: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #CACBCE;
}
.btn-success{
    width: 100%;
}
.btn-success {
    color: #fff!important;
    background-color: #218838!important;
    border-color: #1e7e34!important;
}
.new-folder:hover{
    color: #3E5070;
}
.new-folder img{
    max-width: 15px;
}
.more-files{
    background: #4AA84F;
    border-radius: 4px;
    color: #fff!important;
    padding: .5rem 1rem;
    font-size: .9rem;
    margin-left: 1rem;
}
.more-files:hover{
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.more-files img{
    max-width: 15px;
}
.home-1{
    padding-top: 4rem;
}
.home-1 .col-md-3{
    margin-bottom: 2rem;
}
.home-1 a .content{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}
.home-1 a .content .img-back{
    background-size: cover;
    min-height: 180px;
    background-position: center;
}
.tab-pane{
    padding-top: 1rem;
}
button.delete_folder{
    border: 0;
    background: transparent;
    color: red;
}
button.delete_folder i{
    margin-right: 10px;
}
.home-1 p.title,
[id^="home_folder"] > div:last-child{
    text-align: center;
    color: #fff;
    background: #015694;
    padding-top: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.home-1 p.title{
    padding: 0;
}

.home-1 .more-name.form-control{
    outline: none !important;
    box-shadow: none !important;
    margin: -0.375rem 0.75em -0.4375rem;
    width: calc(100% - 1.5em);
    text-align: center;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding-right: 1.5em;
}

.more-name-btn-submit{
    position: absolute;
    z-index: 1;
    right: 0.75em;
    width: 1.5em;
    bottom: 1.3em;
    cursor: pointer;
}

h1  .more-name-btn-submit{
    bottom: 0.1em;
}

h1 .more-name{
    margin:0 auto;
    background:transparent;
    color:white;
    text-align:center;
    max-width:700px;
    border:none;
    outline:none;
    box-shadow:none;
    padding:0px;
    font-size:2.5rem;
}

/* Home items */
.floating-checkbox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    margin: 0; }

[id^="sub_folder"] .floating-checkbox{
    left: 15px;
    right: 15px;
    border-radius: 5px;
}

.floating-checkbox input[type="checkbox"]{
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0; }

.menu-more{
    display: block;
    position: relative;
}
.menu-more a{
    position: absolute;
    right: 20px;
}
.menu-more a img{
    width: 20px;
}
.col-md-2{
    margin-bottom: 1rem;
}
.nav-link{
    display: inline-block;
}
.delete{
    display: block;
    border-top: 1px solid #ccc;
    padding-top: 0.75em;
    margin-top: 0.75em;
}
p{
    word-break: break-all;
}
h1{
    color: #fff;
    background: #344359;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h1.hipotecario{
    background-color: #4B9E4F;

}

.more-link-floating{
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    height: 21px;
    width: 25px;
    text-align: center;
}

.more-link-floating:before{
    content: '';
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #40516f;
    box-shadow: 0 7px 0px #40516f,
                0 14px 0px #40516f;
}

.menu-more-items{
    position: absolute;
    top: 101%;
    text-align: left;
    padding: 1em 10px;
    border-radius: 1em;
    background: #f0f2f6;
    z-index: 2;
    /*width: 100%;*/
    left: 10px;
    right: 0px;
}

.small-more-items{
    font-size: 0.75em;
}

@media screen and (min-width: 768px){
.menu-more-items.last-row-4{
    top: auto;
    bottom: 101%; } }

.menu-more-items a{
    display: block;
    padding-left: 20px;
    font-weight: normal;
    color: #000;
}
.tab-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-link {
    cursor: pointer;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
[id^="slider"]{
    width: 100%;
    max-width: none !important; }

.panel-wrapper{
    padding: 15px !important; }

.liquid-slider{
    background: transparent !important; }